body {
  background-color: #ffffff; 
  font-family: Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav {
  color: #FFFFFF
 ;
}


header {
  background-color: #1E3A8A;
  color: white;
  padding: 20px 10px;
}

nav {
  margin-top: 10px;
}

nav a {
  display: inline-block;
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  background-color: white; 
  color: #1E3A8A; 
  border: 2px solid #2ECC71; 
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #2ECC71;
  color: white; 
}


main {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  border: 2px solid #2ECC71;
  border-radius: 8px;
}


h1, h2 {
  color: #1E3A8A;
  background-color: #e8fff2; 
  padding: 8px;
  border-radius: 5px;
}

footer {
  background-color: #1E3A8A;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
