/* style.css */

/* Color Theme (Cozy Pastel) */
:root {
  --primary-color: #7a6B7C; /* Forest Green */
  --background-color: #FFEFA8; /* Beige */
  --accent-color: #A1739D9E; /* Taupe */
  --text-color: #888; /* Dark Gray */
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Navigation */
.sticky-nav {
  background-color: var(--background-color);
  padding: 20px;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure it stays on top */
  box-shadow: 10 10px 12px rgba(0, 0, 0, 0.6588235294117647);
}

.sticky-nav a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.sticky-nav a:hover {
  color: var(--accent-color);
}

/* Hero Section */
.hero {
  background-color: var(--background-color);
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.hero h1 strong {
  font-weight: bolder;
}

.hero h1 em {
  font-style: italic;
}

.hero h1 mark {
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: 2px 5px;
}

/* Projects Section */
.projects {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* CTA Button */
.cta-button {
  background-color: var(--accent-color);
  color: hsla(230, 0%, 100%, 1);
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  display: block;
  margin: 30px auto;
}

.cta-button:hover {
  background-color: #96F;
}