body {
    background-image: linear-gradient(to right, #e6e6fa, #d8bfd8 , #e6e6fa);
    margin: 0;
}
.head {
    text-align: center;
    font-family: "Delius Swash Caps";
    margin: 20px 0;
    color: #df73ff;
    font-size: 40px;
    text-shadow: 1.5px 0 2px #ff10f0;
}
.head-name {
    text-align: center;
    font-family: "Delius Swash Caps";
    margin: 20px 0;
    color: #df73ff;
    font-size: 40px;
    text-shadow: 1.5px 0 2px #ff10f0;
}
nav {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0 0 10px;
    margin: 0 10px;;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    display: inline-block;
    transition: transform 0.3s, color 0.3s
}
nav a:hover {
    color: #9370db;
    transform: scale(1.2);
}

h2 {
    font-family: "Delius Unicase";
    margin: 20px;
    color: #d891ef;
}
p, li, a, time, h3, th, td, caption, label, select, input, textarea, button{
    font-family: "Delius";
}





/* home page */
section h2 {
    font-size: 28px;
    margin-left: 30px;
}
section h2::before {
    content: "❀";
    font-weight: bold;
    padding-right: 10px;
}
section h2::after {
    content: "❀";
    font-weight: bold;
    padding-left: 10px;
}
.about-me img {
    height: 200px;
    width: 200px;
    border: 4px solid #e0b0ff;
    border-radius: 50%;
    box-shadow: 0 0 15px #BC13FE;
    display: block;
    margin: auto;
}
.about-me-intro {
    background-color: #f3b8f3;
    padding: 5px 15px;
    border-radius: 15px;
    max-width: 80%;
    margin: 20px auto;
    line-height: 1.6;
    text-align: justify;
    border-left: 10px solid #c57cc5;
}
.sec1, .sec2 {
    padding-top: 10px;
}
.hobbies-ul {
    display: flex;
    justify-content: center;
}
.sec2 ul {
    list-style: none;
    padding: 15px;
    display: block;
    background: rgb(243, 184, 243, 0.8);
    border-left: 5px solid #c57cc5;
    border-right: 5px solid #c57cc5;
    border-radius: 15px;
}
.sec2 ul li {
    padding: 10px 15px;
}
.sec2 ul li::before {
    content: "✦";
    font-weight: bold;
    padding-right: 10px;
}
.sec3, .sec4, .sec5 {
    padding-top: 30px;
}
caption {
    font-size: 20px;
    padding: 0 10px 10px 10px;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    background: rgba(244,187,255, 0.5);
}
.skills-table {
    width: 50%;
}
.educ-table {
    width: 70%;
}
th {
    background: #f1a7fe;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
td{
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
.fav-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.fav-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px solid #b19cd9;
    box-shadow: 0 0 10px #c9a0dc;
    padding: 0 10px;
    border-radius: 10px;
}
.fav-vid {
    text-align: center;
    width: 500px;
    height: 500px;
    border: 1px solid #b19cd9;
    box-shadow: 0 0 10px #c9a0dc;
    padding: 0 10px;
    border-radius: 10px;
}
.aside-index {
    background-color: #FAE4FD;
    border-left: 5px solid #b57edc;
    padding: 15px 20px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0 ,0 , 0.1);
}
.facts {
    list-style: none;
    padding-left: 0;
}
.facts li {
    padding: 10px 15px;
    position: relative;
    margin-left: 25px;
}
.facts li::before {
    content: "✽";
    font-weight: bold;
    padding-right: 10px;
}
.footer-index {
    background: rgba(220, 208, 255, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.footer-index .copyright {
    margin: 0;
}
.footer-index .socials a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 8px 0;
}
.footer-index .socials a:hover {
    color: #9370db;
}





/* blog page */
.a1 h2, .a2 h2, .a3 h2 {
    font-size: 28px;
}
time {
    margin-left: 5px;
    padding: 15px;
    font-style: italic;
}
.blog-pic{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.a1, .a2, .a3 {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background: rgb(249,132,239, 0.1);
    border-radius: 12px;
    box-shadow: 0 0 10px #c9a0dc;
    line-height: 1.8;
}
.a1 img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
.a3 img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.a1 img, .a2 img, .a3 img {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0 ,0 , 0.2);
    transition: transform 0.3s ease;
}
.a1 img:hover, .a2 img:hover, .a3 img:hover {
    transform: scale(1.03);
}
.grad-pics {
    margin-top: 10px;
    display: block;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.gp1 {
    width: 40%;
}
.gp2 {
    width: 40%;
}
.a1 p, .a2 p, .a3 p {
    text-align: justify;
    margin: 30px 0 15px 0;
}
.a3 ul {
    border-left: 5px solid #c57cc5;
    padding-left: 35px;
    margin-left: 40px;
}
hr {
    border: 1px solid #d19fe8;
    height: 1px;
    background-color: #d19fe8;
    margin: 20px 25px;
}
.aside-blog {
    background-color: #fae4fd;
    border-left: 5px solid #b57edc;
    padding: 15px 20px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.aside-blog p {
    font-weight: bold;
}
.blog-related {
    list-style: none;
    padding-left: 0;
}
.blog-related li {
    padding: 10px 15px;
    position: relative;
    margin-left: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
}
.blog-related li::before {
    content: "⚝";
    font-weight: bold;
    padding-right: 10px;
}
.blog-related li:hover {
    color: #9370db;
    transform: scale(1.01);
    cursor: pointer;
}
.footer-blog {
    background: rgba(220, 208, 255, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}





/* contact page */
.contct {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contct form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #b19cd9;
    border-radius: 10px;
    box-shadow: 0 0 10px #c9a0dc;
}
.contct label {
    margin-top: 10px;
}
.contct input, select, textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
}
.contct textarea {
    height: 80px;
}
button {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #ccccff;
    border: none;
    cursor: pointer;
    align-self: center;
    border: 1px solid #b19cd9;
    border-radius: 5px;
}
button:hover {
    background-color: #9370db;
}

.footer-contact {
    background: rgba(220, 208, 255, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}