body {
  background-color: #faf9f6;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
}

header {
  font-family: 'Playfair Display', serif;
  background-color: #000000;
  text-align: center;
  padding: 20px 0;
  animation: fadeInHeader 1.2s ease-out;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

header img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 700;
  color: white;
}

.nav {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav a:not(:last-child)::after {
  content: " | ";
  color: white;
  margin-left: 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 18px;
  font-weight: 500;
}

.nav a:hover {
  color: #6c63ff;
}


@keyframes fadeInHeader {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

main, aside {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

section {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}


p {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: justify;
}

ul {
  list-style: circle;
  margin-left: 30px;
  text-align: left;
}

table {
  width: 100%;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f3e3d3;
}


video, audio {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

aside {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

aside ul {
  margin-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f3e3d3;
  font-size: 14px;
  margin-top: 40px;
}
